<% layout('/boilerplate/boilerplate.ejs') -%>

<div class="container flex flex-wrap justify-center gap-6 p-8">
        <% products.map(product =>{ %>
                <div class="border-2 border-black">
                        <div>
                                <img class="w-[300px] h-[200px] object-cover" src="<%= product.img %>">
                        </div>
                        <div class="p-4">
                                <div class="text-gray-400 text-xs py-2">
                                        <%= product.category %>
                                </div>
                                <div class="text-xl">
                                        <%= product.title %>
                                </div>
                                <div class="mt-1.5">
                                        ₹ <%= product.price %>
                                </div>
                                <div class="mt-3 flex">
                                        <a href="/e-commerce/products/<%= product._id %>">
                                                <div class="text-sm px-2 py-1 bg-[#000080] text-white rounded  hover:cursor-pointer">
                                                        Show
                                                </div>
                                        </a>
                                </div>
                        </div>
                </div>
        <% }) %>
</div>